:root {
    --deep-gray: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
    --weak-gray: hsl(0, 0%, 20%);
    --neon-green: hsl(75, 94%, 57%);
    --whity: hsl(0, 0%, 100%);
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

body {
    background-color: var(--off-black);
}

.profile {
    margin: 4em auto;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    width: 50vw;
    max-width: 400px;
    background-color: var(--deep-gray);
    font-family: 'Inter';
    color: var(--whity);
}

.profile img {
    width: 28%;
    border-radius: 50%;
}

.profile h1 {
    margin-bottom: 0;
}

.profile h2 {
    font-size: 1em;
    margin: 0;
    color: var(--neon-green);
}

.profile p {
    margin: 2em;
    font-size: 14px;
}

#social-links {
    margin: 3em auto;
    margin-bottom: 1em;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 20px;
    border-radius: 8px;
    color: var(--whity);
    text-decoration: none;
    font-weight: 600;
    background-color: var(--weak-gray);
    transition: .4s;
}

#social-links a:hover {
    background-color: var(--neon-green);
    color: var(--deep-gray)
}

.attribution {
    position: absolute;
    bottom: 10px;
}

.attribution a {
    color: var(--neon-green);
}
